body {
    background-color: dimgray;
}
img[alt="www.000webhost.com"] {
    display:none;
}

/* wszyscy.html */

div.websitelink div.box:hover {
    background-color: darkslategray;
}
div.box {
    background-color: #333;
    color: white;
    /*line-height: 45px;*/
}

div.websitelink a {
    text-decoration: none !important;
}
div.klasa {
    background-color: #1c1c1c;
}
@media (min-width: 992px) {
    div.klasa {
        background-color: #333;
}
}
div.row [class*="col-12"] {
    margin-bottom: 1rem;
}
div.nomarginbottom {
    margin-bottom: 0 !important;
}
.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}
/* DELETED THE ARROW NEXT TO DROPDOWN LISTS */
.dropdown-toggle:after {
    content: none
}
.navbar-brand {
    font-size: 105%;
}
.border-3 {
    border-width: 3px !important;
}
.border-dashed {
    border-style: dashed !important;
}
.change3 {
    padding: 20px 5px;
}


/* index.html */
.collapsible {
    cursor: pointer;
}
.content {
    display: none;
    overflow: hidden;
}
.active-button {
    background-color: #058096;
}

/* the beginning of privacy code */

.privacy-text {
    font-size: 10px;
    color: #cdcdcd;
}
.privacy-link {
    color: #cdcdcd;
    text-decoration: underline;
}

.privacy-link:hover {
    color: #ababab;
}


/* typewriting */
.coding {
    background-color: black;
}
/* privacy.html typewriting */
.typewriter h1 {
  font-family: monospace; /* Web-safe typewriter-like font */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .20em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blinking-cursor .7s step-end infinite;
}
/* index.html typewriting */
.typewriter h2 {
  font-family: monospace; /* Web-safe typewriter-like font */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .20em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blinking-cursor .7s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
.collapsible {
  cursor: pointer;
}

.content {
  display: none;
  overflow: hidden;
}
.active-button {
    background-color: #058096;
}
        
/* privacy */
.privacy-hr {
    border: 1px solid #898989;
}
        
.privacy-lm {
    margin-top: 2.7%;
}

/* the end of privacy code */
/* language box customisation */
.lang-box {
    position: absolute;
    right: 10px;
    color: white;
    top: 15px;
    width: 125px;
    height: 40px;
    z-index: 1021;
    font-size: 12px;
}

@media (max-width: 991px) { /*hamburger menu */
    .lang-box {
        right: 100px;
    }
}


/* language buttons customisation */



    .language-link {
        color: #bbb;
        text-decoration: underline;
    }
    .language-link:hover {
        color: #fff;
    }


/* the end of language buttons customisation */

/*
@media (max-width: 575px) {
    div.box {
        margin-bottom: 1rem;
}
    div.klasa {
        margin-bottom: 0;
    }
}
*/

/*footer on the bottom */
html {
    height:100%;
}
body {
    min-height:100%;
    position:relative;
}
body::after {
    content:'';
    display:block;
    height:100px;
}
.footer-bottom { 
    position:absolute; 
    bottom:0; 
    width:100%; 
}

/* smaller letters on smaller screen - footer */
@media (max-width: 741px) {
    .footer {
        font-size: 100%;
    } 
}
@media (max-width: 600px) {
    .footer {
        font-size: 80%;
    } 
}

/*jumbotron*/
@media (max-width: 991px) {
    .box.jumbotron h1.display-3 {
        font-size: 3rem;
    }
}